div{
    background-color: black;
    margin: 20;
    padding: 20;
    box-sizing: border-box;
    font-family: Arial, sans-serif;}

    body {
    background-color: #131111;
    color: #fafafa;
    line-height: 1.6;
    text-align: center;
}

#eliade {
    display: none;
    height: 100%;
    width: 100%;
    transition: 0.7s;
    }

header {
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.hxtLCqg6VTl63L1Sa5ESNwHaE0&pid=Api&P=0&h=180");
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
     background-color: #444a6b;
    padding: 10PX;
    border-radius: 10%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}
.container{
    border-style: solid;
    color: white;
    margin-top: 100px;
    height: 700px;
    width: 400px;
    margin-left: 750px;
}
p{
      background-color: #444a6b;
    padding: 0.1PX;
    
}
h1{
    background-color: #444a6b;
}